<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ReceipeDb"
      connectionString="Server=.\SQLEXPRESS;Database=RecipeManagerTests;User Id=sa;Password=Margar3t40"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>